@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model OganiAdmin.Models.Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutOgani.cshtml";
}



<div class="col-12 ">
    <div class="bg-light rounded h-100 p-4 vh-100">
        <h3 class="mb-4">Create New Category</h3>
        <div class="row">
            <div class="col-md-4 ms-lg-3">
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CateName" class="control-label"></label>
                        <input asp-for="CateName" class="form-control" />
                        <span asp-validation-for="CateName" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-lg-2">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-4 ms-lg-3 mt-lg-2">
            <a asp-action="Index">Back to List</a>
        </div>

    </div>
</div>

